@tailwind base;
@tailwind components;
@tailwind utilities;

.usuario{
  padding: 1.5rem;
  position: relative;
  margin: 1rem 0;
  border-radius: .25rem;
  background-color: #EEF5FF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .14);
  color: #176B87;
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.usuario button {
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  outline: none;
  color: #EEF5FF;
  background: none;
  cursor: pointer;
  line-height: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: sans-serif;
  position: absolute;
  border-radius: 1.5rem;
  background-color: #ced4da;
  padding: .2rem .35rem .35rem .35rem;
}

.usuario button:hover,
.usuario button:focus {
  color: #EEF5FF;
  background-color: #871717;
}

.usuario:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .14);
}
